.container {
  width: 1100px;
}

.navbar-brand {
  font-weight: 600;
}
.carousel {
  margin-top: 15px;
  height: 710px;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 20px 15px;
}
.fix-color {
  color: rgb(124, 131, 163);
}
.fix {
  margin-top: 24px;
}
.tittle-txt {
  font-size: 30px;
  font-weight: 600;
}
.footer-list {
  margin-top: 25px;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 80px;
  justify-content: center;
}
.ft-list-info {
  font-size: 18px;
  font-weight: 700;
  color: rgb(124, 131, 163);
  text-decoration: none;
}
.contact {
  font-size: 18px;
  font-weight: 700;
  color: rgb(124, 131, 163);
  text-decoration: none;
}
.footer-brand {
  font-size: 18px;
  font-weight: 700;
  color: rgb(124, 131, 163);
  text-decoration: none;
}
